---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Marvin Becher's About" seoTitle="About Marvin Becher, Network Engineer" seoDesc="Hi there! My name is Marvin Becher, and I'm a network engineer. I'm a dynamic young professional pushing boundaries in the digital realm.">
    <div class="w-6/12 mx-auto">
        <h1 class="text-5xl">About</h1>
        <img src="/public/images/memoji.png" class="my-2 drop-shadow-[10px_10px_35px_rgba(39,245,131,0.3)]"/>
        <p>
            Hello! My name is John Doe, and I'm a Network Engineer with over 5 years of experience in the industry. I am passionate about creating reliable and efficient network solutions that solve real-world problems and simplify people's lives.
          </p><br />
          <p>
            My expertise is in network automation and management, with a focus on cloud infrastructures and containerization. I am skilled in a variety of technologies and tools, including Docker, Kubernetes, Ansible, Terraform, and NGINX. Additionally, I have experience in programming with Python and Bash scripting and efficiently manage both Linux and Windows systems.
          </p><br />
          <p>
            Beyond my technical skills, I pride myself on my ability to collaborate with team members and communicate effectively with stakeholders. I love tackling complex challenges and always find innovative solutions to difficult problems.
          </p><br />
          <p>
            When I'm not working on network solutions, you might find me golfing in the beautiful nature or tinkering with electronics projects. I am always looking for new challenges and exciting projects, so I welcome any opportunity for collaboration. Thank you for stopping by!
          </p>
    </div>

</MainLayout>